
  <ros2_control name="GazeboSystem" type="system">
  <hardware>
    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
  </hardware>
  <joint name="drivewhl_r_f_joint">
    <command_interface name="position"/>
      <param name="min">${steer_limlow}</param>
      <param name="max">${steer_limhigh}</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
  </joint>

  <joint name="drivewhl_l_f_joint">
    <command_interface name="position"/>
      <param name="min">${steer_limlow}</param>
      <param name="max">${steer_limhigh}</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
  </joint>

  <gazebo>
   <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
    <parameters>$(find atvurdf)/config/steering_controller_position.yaml</parameters>
   </plugin>
  </gazebo>