<?xml version="1.0" ?>
<model>
<name>atvkda</name>
<version>1.0</version>
<sdf version="1.6">model.sdf</sdf>
<author>
<name></name>
<email></email>
</author>
<description>ATV modell designed with the same measurments as the Can-Am Outlander Max XT </description>
<changes>exported from fusion 360</changes>
</model>
